name: Tests

on: [push, pull_request]

jobs:
    build:
        runs-on: ubuntu-20.04

        strategy:
            matrix:
                python-version: ["2.7", "3.5", "3.6", "3.7", "3.8", "3.9", "3.10", "3.11", "pypy2.7", "pypy3.9"]

        steps:

        - uses: actions/checkout@v3

        - name: Use Python ${{ matrix.python-version }}
          uses: actions/setup-python@v4
          with:
              python-version: ${{ matrix.python-version }}

        - run: pip install tox

        - run: make README

        - run: tox -e py
